<p id="notice"><%= notice %></p>

<h1>Vizualização de Vídeos</h1>

<div class="container">

  <div class="row">
    <% @videos.each do |video| %>
      <div class="col-md-12">
        <br>
        <br>
        <div class="card text-center">
          <div class="card-header">
            <%= video.name %>
          </div>
          <div class="card-body">
            <video
              id="my_video_1"
              class="video-js"
              style="margin: 0 auto;"
              controls
              preload="auto"
              width= "800"
              data-setup='{}'>
              <source
                src= "<%= video.url %>"
                type="application/x-mpegURL">
              </video>
              <p class="lead text-center">
                Visualizações: 6
              </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
