<div class="banner">
  <p class="message" style="padding-top: 100px;">
    O Vídeo App permite a criação de um acervo de seus vídeos, que poderão ser visualizados pelos diversos usuários, promevendo a divulgação de seus trabalhos ou de suas preferências.
  </p>
  <p class="message">
    De forma simples e segura, você poderá acessar o sistema onde quer que você esteja e de qualquer dispositivo.
  </p>
  <p class="message">
    Facilidade, alta perfomance e mobilidade para você ampliar suas possibilidades!!!
  </p>
</div>